/* 全局引入css样式 */



/* 默认字体颜色 */
.f-color{
	color: #636263;
}

/* 选中颜色 */
.f-active-color{
	color: #49bdfb;
}

/* 背景颜色 */
.bg-color{
	background-color: #42b7fb;
}

::-webkit-scrollbar {  
    display: none;  
    width: 0 !important;  
    height: 0 !important;  
    -webkit-appearance: none;  
    background: transparent;  
}